@model IEnumerable<Products>

<h1>Product Index 2 View Content</h1>

<h2>All Products</h2>

<ul>
    @foreach (Products product in Model)
    {
        <li>@product.Name - @product.Price</li>
    }
</ul>

<a asp-controller="Product" asp-action="Index">Back to List</a>